html {
    position: relative;
    min-height: 100%;
}

body {
    background: #f7f7f7;
    margin: 0;
    display: block;
    font-family: "Open Sans", Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-variant-ligatures: no-common-ligatures;
}

.eCommerce-page {
    background: #f7f7f7;
    max-width: 1440px;
    min-width: 700px;
    margin: 0 auto;
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.form-group {
    margin-bottom: 0.5rem;
}

.form-control {
    background: #fff;
    border-radius: 1.45rem;
}

label {
    span {
        color: #495057;
        margin-left: 0.5rem;
        font-size: 16px;
    }
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
}

nav {
    .icon-class {
        position: relative;

        .icon-number {
            position: absolute;
            top: 0;
            right: 0;
            display: block;
        }
    }

    .nav-link {
        color: white;
    }
}



